@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');


h1, h2, h3, h4 {
	color: #f8f8f8;	
}

/*a {
	color: #f8f8f8;
	
}*/

body {
	font-family: 'Poppins', sans-serif;
	background: #1F6C6D;
	margin: 20px;
}

/* Button Styling */
.btn {
  background-color: #bcbec0;
  color: white;
  padding: 12px 36px;
  border: none;
  border-radius: 16px;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 700;          /* bold text */
  width: 400px;              /* same width for all buttons */
  text-align: left;        /* align text to the left */
  text-decoration: none;     /* remove underline (for <a>) */
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

/* Hover and active states */
.btn:hover {
  background-color: #1a314b;
  text-decoration: none;     /* prevent underline on hover */
}

.btn:active {
  transform: scale(0.98);
}

/* Button sub Styling */
.btn_sub {
  background-color: #bcbec0;
  color: white;
  padding: 12px 36px;
  border: none;
  border-radius: 16px;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 700;          /* bold text */
  /*width: 400px;              /* same width for all buttons */
  text-align: left;        /* align text to the left */
  text-decoration: none;     /* remove underline (for <a>) */
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

/* Hover and active states */
.btn_sub:hover {
  background-color: #1a314b;
  text-decoration: none;     /* prevent underline on hover */
}

.btn_sub:active {
  transform: scale(0.98);
}

.remove-btn {
    background-color: #d9534f;
    margin-top: 10px;
}

.two-columns {
    display: grid;
    grid-template-columns: 1fr 1fr; /* two equal columns */
    gap: 16px;
}

.input-block {
  border: 1px solid #ccc;
  padding: 25px;
  width: 85%;
  margin: 5px 0;
  border-radius: 8px;
    background-color: #f9f9f9;
}

.input-block label {
  padding: 20px;
  width: 50%; /* fixed label width */
}

.input-block input {
  margin: 5px 0;
  padding: 6px;
  width: 60%;
}