<!DOCTYPE html>
<html lang="en">
<head>
		<meta charset="UTF-8">
		<title>config.yaml</title>
		<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
</head>
<body>
<h1>config.yaml generator</h1>
<h2>connections</h2>
<select id="blockType">
		<option value="s3">s3</option>
		<option value="database">data base</option>
		<option value="ftp">ftp</option>
</select>
<button type="button" onclick="addConnection()">Add</button>
<div id="blockContainer"></div>

<h2>sources</h2>

<h2>transforms</h2>
<h2>sinks</h2>

<p>
		<a href="/">
				<button>Back</button>
		</a>
</p>

<script src="{{ url_for('static', filename='js/config.js') }}"></script>

</body>
<style>
		body {
				font-family: 'Poppins', sans-serif;
		}
</style>
</html>